<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.CargoMapper">

	<select id="consultarCargo" resultMap="CargoResult">
		SELECT 
		
		c.id as id_cargo,
		c.nombre as nombre_cargo,
		c.descripcion as des_cargo
		
		FROM BR_CARGO as c
	
		WHERE c.id=#{id_cargo}
	</select>

	<select id="consultarCargos" resultMap="CargoResult">
		SELECT 
		
		c.id as id_cargo,
		c.nombre as nombre_cargo,
		c.descripcion as des_cargo
		
		FROM BR_CARGO as c
	
		ORDER BY c.id
	</select>

	<select id="consutarIdCargo" resultType="int">
		SELECT
		c.id
		
		FROM BR_CARGO as c
		
		WHERE c.nombre=#{cargo.nombre} and c.descripcion=#{cargo.descripcion}
	</select>

	<insert id ="insertarCargo">
		<selectKey keyProperty="id_cargo" resultType="int" order="BEFORE">
			select COALESCE(MAX(id)+1,1) from BR_CARGO
		</selectKey>
    	insert into BR_CARGO (id, nombre, descripcion) 
    	VALUES (#{id_cargo},#{cargo.nombre},#{cargo.descripcion})                     
    </insert>
	
	
	<resultMap id="CargoResult" type="Cargo">
			
			<id property="id" column="id_cargo"/>
			<result property="nombre" column="nombre_cargo"/>
			<result property="descripcion" column="des_cargo"/>
   			
    </resultMap>

</mapper>