<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.HorarioMapper">

	<select parameterType="map" id="consultarHorarioDia" resultMap="HorarioResult">
			SELECT 
    		
    		h.id as id_horario,
			h.dia as dia_horario,
			
			hs.hora as hora
			
			FROM BR_HORARIO as h 
			left join BR_HORA as hs on h.id_hora=hs.id
    		
    		WHERE h.id=#{id_horario} and h.dia=#{dia_horario}
 			
	</select>
	
	<select parameterType="map" id="consultarHorarioDias" resultMap="HorarioResult">
			SELECT
			
			h.id as id_horario,
			h.dia as dia_horario,
			
			hs.id as id_hora,
			hs.dia as dia_hora,
			hs.hora as hora
			
			FROM BR_HORARIO as h 
			left join BR_HORA as hs on h.id_hora=hs.id 
    		
    		WHERE h.id=#{id_horario} 
dia
	</select>
	
	<select parameterType="map" id="consultarHorarios" resultMap="HorarioResult">
			SELECT
			
			h.id as id_horario,
			h.dia as dia_horario,
			
			hs.hora as hora
			
			FROM BR_HORARIO as h 
			left join BR_HORA as hs on h.id_hora=hs.id
    		
    		ORDER by h.id
    		
	</select>
	
	<select id="consultarUltimoId" resultType="long">
			SELECT 
    		MAX(id) 

			FROM
			BR_HORARIO
			
	</select>
	
	<insert id ="insertarHorario">
    	insert into BR_HORARIO (id, dia) 
    	VALUES (#{horario.id},#{horario.dia})
    </insert>
	
	
	<insert id ="insertarHora">
    	insert into BR_HORA (id, dia, hora) 
    	VALUES (#{hora.id},#{hora.dia},#{hora.hora})
    </insert>


	<update id="actualizarHoras">
			UPDATE BR_HORARIO
		
			SET horas=#{tiempo}

			WHERE id=#{id_horario} and dia=#{dia}
	</update>


	<resultMap id="HoraResult" type="Hora">
		<result property="id" column="id_hora"/>
		<result property="dia" column="dia_hora"/>
		<result property="hora" column="hora"/>

  	</resultMap>

	<resultMap id="HorarioResult" type="Horario">
			
			<id property="id" column="id_horario"/>
			<id property="dia" column="dia_horario"/>
			<collection property="horas" ofType="Hora" column="id_hora" 
			resultMap="HoraResult"/>  
    	
    </resultMap>


</mapper>