<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.HorarioMapper">

	<select parameterType="map" id="consultarHorarioDia" resultMap="HorarioResult">
			SELECT 
    		
    		h.id as id_horario,
			h.dia as dia_horario,
			
			hs.hora as hora
			
			FROM BR_HORARIO as h 
			left join BR_HORA as hs on h.id=hs.id_horario and h.dia=hs.dia_horario
    		
    		WHERE h.id=#{id_horario} and h.dia=#{dia_horario}
 			
	</select>
	
	<select parameterType="map" id="consultarHorarioDias" resultMap="HorarioResult">
			SELECT
			
			h.id as id_horario,
			h.dia as dia_horario,
			
			hs.hora as hora
			
			FROM BR_HORARIO as h 
			left join BR_HORA as hs on h.id=hs.id_horario and h.dia=hs.dia_horario
    		
    		WHERE h.id=#{id_horario} 
	</select>
	
	<select parameterType="map" id="consultarHorarios" resultMap="HorarioResult">
			SELECT
			
			h.id as id_horario,
			h.dia as dia_horario,
			
			hs.hora as hora
			
			FROM BR_HORARIO as h 
			left join BR_HORA as hs on h.id=hs.id_horario and h.dia=hs.dia_horario
    		
    		ORDER by h.id
    		
	</select>
	
	<select id="consultarUltimoId" resultType="long">
			SELECT 
    		MAX(id) 

			FROM
			BR_HORARIO
			
	</select>
	

	<insert id ="insertarHorario">
    	insert into BR_HORARIO (id, dia, id_recurso) 
    	VALUES (#{horario.id},#{horario.dia}, #{id_recurso})
    </insert>
	

	<insert id ="insertarHora">
		<selectKey keyProperty="id_hora" resultType="int" order="BEFORE">
			select COUNT(id)+1 from BR_HORA
		</selectKey>
    	insert into BR_HORA (id, hora, id_horario, dia_horario, disponible) 
    	VALUES (#{id_hora},#{hora.hora}, #{horario.id}, #{horario.dia}, #{hora.disponible})
    </insert>


	
	<select id="consultarIdHora" resultType="long">
	
		SELECT 
		hs.id
		
		FROM BR_HORA as hs
		
		WHERE hs.id_horario=#{horario.id} and hs.dia_horario=#{horario.dia} and hs.hora=#{hora.hora}
	
	
	</select>
	
	
	<resultMap id="HoraResult" type="Hora">
	
		<result property="id" column="id_hora"/>
		<result property="hora" column="hora"/>
		<result property="disponible" column="disponible"/>

  	</resultMap>

	<resultMap id="HorarioResult" type="Horario">
			
			<id property="id" column="id_horario"/>
			<id property="dia" column="dia_horario"/>
			<collection property="horas" ofType="Hora" column="{id_horario, dia_horario}" 
			resultMap="HoraResult"/>  
    	
    </resultMap>


</mapper>