<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ReservaMapper">

	<select parameterType="map" id="consultarReserva" resultMap="ReservaResult">
			SELECT res.codigo as res_codigo, 
			res.fecha, 
			res.hora as tiempo, 
			res.duracion,
			res.activa,
			res.grupo,
			res.registro,
			u.carnet as carnet_usuario,
  			u.documento as doc_usuario,
  			u.correo as correo_usuario,
  			u.nombres as nombres_usuario,
  			u.apellidos as apellidos_usuario,
			u.programa,
			c.id as id_cargo,
			c.nombre as nombre_cargo,
			c.descripcion as des_cargo,
			r.id as id_recurso,
    		r.nombre as nombre_recurso,
			r.ubicacion as ubi_recurso,
			t.id as id_tipo,
			t.tipo as nom_tipo,
			t.descripcion as des_tipo
			FROM br_reserva as res
			left join BR_USUARIO as u on u.carnet=res.usuario
			left join BR_RECURSO as r on r.id=res.recurso
			left join BR_CARGO as c on u.id_cargo=c.id
			left join BR_TIPO as t on r.id_tipo=t.id
			WHERE res.codigo = #{codigo}
	</select>
	
	<select parameterType="map" id="consultarReservas" resultMap="ReservaResult">
			SELECT res.codigo as res_codigo, 
			res.fecha, 
			res.hora as tiempo, 
			res.duracion,
			res.activa,
			res.grupo,
			res.registro,
			u.carnet as carnet_usuario,
  			u.documento as doc_usuario,
  			u.correo as correo_usuario,
  			u.nombres as nombres_usuario,
  			u.apellidos as apellidos_usuario,
			u.programa,
			c.id as id_cargo,
			c.nombre as nombre_cargo,
			c.descripcion as des_cargo,
			r.id as id_recurso,
    		r.nombre as nombre_recurso,
			r.ubicacion as ubi_recurso,
			t.id as id_tipo,
			t.tipo as nom_tipo,
			t.descripcion as des_tipo
			FROM br_reserva as res
			left join BR_USUARIO as u on u.carnet=res.usuario
			left join BR_RECURSO as r on r.id=res.recurso
			left join BR_CARGO as c on u.id_cargo=c.id
			left join BR_TIPO as t on r.id_tipo=t.id
	</select>
	
	<select parameterType="map" id="consultarReservasRecurso" resultMap="ReservaResult">
			SELECT res.codigo as res_codigo, 
			res.fecha, 
			res.hora as tiempo, 
			res.duracion,
			res.activa,
			res.grupo,
			res.registro,
			u.carnet as carnet_usuario,
  			u.documento as doc_usuario,
  			u.correo as correo_usuario,
  			u.nombres as nombres_usuario,
  			u.apellidos as apellidos_usuario,
			u.programa,
			c.id as id_cargo,
			c.nombre as nombre_cargo,
			c.descripcion as des_cargo,
			r.id as id_recurso,
    		r.nombre as nombre_recurso,
			r.ubicacion as ubi_recurso,
			t.id as id_tipo,
			t.tipo as nom_tipo,
			t.descripcion as des_tipo
			FROM br_reserva as res
			left join BR_USUARIO as u on u.carnet=res.usuario
			left join BR_RECURSO as r on r.id=res.recurso
			left join BR_CARGO as c on u.id_cargo=c.id
			left join BR_TIPO as t on r.id_tipo=t.id
			WHERE res.recurso=#{recursoId}
	</select>
	
	<select parameterType="map" id="consultarReservasGrupo" resultMap="ReservaResult">
			SELECT res.codigo as res_codigo, 
			res.fecha, 
			res.hora as tiempo, 
			res.duracion,
			res.activa,
			res.grupo,
			res.registro,
			u.carnet as carnet_usuario,
  			u.documento as doc_usuario,
  			u.correo as correo_usuario,
  			u.nombres as nombres_usuario,
  			u.apellidos as apellidos_usuario,
			u.programa,
			c.id as id_cargo,
			c.nombre as nombre_cargo,
			c.descripcion as des_cargo,
			r.id as id_recurso,
    		r.nombre as nombre_recurso,
			r.ubicacion as ubi_recurso,
			t.id as id_tipo,
			t.tipo as nom_tipo,
			t.descripcion as des_tipo
			FROM br_reserva as res
			left join BR_USUARIO as u on u.carnet=res.usuario
			left join BR_RECURSO as r on r.id=res.recurso
			left join BR_CARGO as c on u.id_cargo=c.id
			left join BR_TIPO as t on r.id_tipo=t.id
			WHERE res.grupo=#{group}
	</select>

	<select parameterType="map" id="consultarReservasUsuario" resultMap="ReservaResult">
			SELECT res.codigo as res_codigo, 
			res.fecha, 
			res.hora as tiempo, 
			res.duracion,
			res.activa,
			res.grupo,
			res.registro,
			u.carnet as carnet_usuario,
  			u.documento as doc_usuario,
  			u.correo as correo_usuario,
  			u.nombres as nombres_usuario,
  			u.apellidos as apellidos_usuario,
			u.programa,
			c.id as id_cargo,
			c.nombre as nombre_cargo,
			c.descripcion as des_cargo,
			r.id as id_recurso,
    		r.nombre as nombre_recurso,
			r.ubicacion as ubi_recurso,
			t.id as id_tipo,
			t.tipo as nom_tipo,
			t.descripcion as des_tipo
			FROM br_reserva as res
			left join BR_USUARIO as u on u.carnet=res.usuario
			left join BR_RECURSO as r on r.id=res.recurso
			left join BR_CARGO as c on u.id_cargo=c.id
			left join BR_TIPO as t on r.id_tipo=t.id
			WHERE res.usuario=#{user} AND activa = true
	</select>

	<select parameterType="map" id="consultarReservasUsuarioNoActivas" resultMap="ReservaResult">
			SELECT res.codigo as res_codigo, 
			res.fecha, 
			res.hora as tiempo, 
			res.duracion,
			res.activa,
			res.grupo,
			res.registro,
			u.carnet as carnet_usuario,
  			u.documento as doc_usuario,
  			u.correo as correo_usuario,
  			u.nombres as nombres_usuario,
  			u.apellidos as apellidos_usuario,
			u.programa,
			c.id as id_cargo,
			c.nombre as nombre_cargo,
			c.descripcion as des_cargo,
			r.id as id_recurso,
    		r.nombre as nombre_recurso,
			r.ubicacion as ubi_recurso,
			t.id as id_tipo,
			t.tipo as nom_tipo,
			t.descripcion as des_tipo
			FROM br_reserva as res
			left join BR_USUARIO as u on u.carnet=res.usuario
			left join BR_RECURSO as r on r.id=res.recurso
			left join BR_CARGO as c on u.id_cargo=c.id
			left join BR_TIPO as t on r.id_tipo=t.id
			WHERE res.usuario=#{user} AND activa = false
	</select>
	
	
	<select parameterType="map" id="consultarFranja" resultMap="ReservaResult">
			SELECT res.codigo as res_codigo, 
			res.fecha, 
			res.hora as tiempo, 
			res.duracion,
			res.activa,
			res.grupo,
			res.registro,
			u.carnet as carnet_usuario,
  			u.documento as doc_usuario,
  			u.correo as correo_usuario,
  			u.nombres as nombres_usuario,
  			u.apellidos as apellidos_usuario,
			u.programa,
			c.id as id_cargo,
			c.nombre as nombre_cargo,
			c.descripcion as des_cargo,
			r.id as id_recurso,
    		r.nombre as nombre_recurso,
			r.ubicacion as ubi_recurso
			FROM br_reserva as res
			left join BR_USUARIO as u on u.carnet=res.usuario
			left join BR_RECURSO as r on r.id=res.recurso
			left join BR_CARGO as c on u.id_cargo=c.id
			WHERE
			res.fecha = #{fecha} AND (((#{hora} + #{duracion} >= res.hora AND res.hora >= #{hora}) OR (#{hora} + #{duracion} >= res.hora + res.duracion AND res.hora + res.duracion >= #{hora})) OR		
			((res.hora + res.duracion >= #{hora}  AND #{hora} >= res.hora) OR (res.hora + res.duracion >= #{hora} + #{duracion} AND #{hora} + #{duracion} >= res.hora))) AND res.activa = true
			AND r.id = #{recurso}
	</select>
	
	<select id="consultarIdGrupo" resultType="long">
		select coalesce(MAX(grupo)+1 , '1') from BR_RESERVA
	</select>
	
	<insert id ="insertarReserva">
		<selectKey keyProperty="id_reserva" resultType="int" order="BEFORE">
			select coalesce(MAX(codigo)+1 , '1') from BR_RESERVA
		</selectKey>
    	INSERT INTO public.br_reserva
	   (codigo, fecha, usuario, hora, duracion, recurso, grupo)	
    	VALUES (#{id_reserva},#{reserva.fecha},#{reserva.usuario.carnet},#{reserva.hora}, #{reserva.duracion}, #{reserva.recurso.id}, #{reserva.grupo}) 
    </insert>

	<!--Consultas para generar los reportes-->

	<select id="recursosFrecuentes" resultMap="ReservaResult" >
		SELECT
			r.id as id_recurso,
			r.nombre as nombre_recurso,
			res.fecha,
			count(r.id) as num_veces
		FROM
			br_reserva as res
			left join BR_RECURSO as r on r.id=res.recurso
		group by r.id, res.fecha
		order by num_veces desc
		FETCH FIRST 10 ROWS ONLY
	</select>

	<select id="recursosFrecuentesXHorario" resultMap="ReservaResult" >
		SELECT
			r.id as id_recurso,
			r.nombre as nombre_recurso,
			res.hora as tiempo,
			count(r.id) as num_veces
		FROM
			br_reserva as res
			left join BR_RECURSO as r on r.id=res.recurso
		group by r.id, res.hora
		order by num_veces desc
		FETCH FIRST 10 ROWS ONLY
	</select>

	<select id="frecuenteXTipo" resultMap="ReservaResult">
		select
			r.id as id_recurso,
			r.nombre as nombre_recurso,
			t.tipo as nom_tipo,
			count(t.tipo) as num_veces
		FROM
			br_reserva as res
			left join BR_RECURSO as r on r.id=res.recurso
			left join BR_TIPO as t on r.id_tipo=t.id
		group by t.tipo, r.id
		order by num_veces desc
	</select>

	<select id="recursosMasFrecuentes" resultMap="ReservaResult" >

		SELECT
			r.id as id_recurso,
			r.nombre as nombre_recurso,
			r.ubicacion as ubi_recurso,
			count(r.id) as num_veces
		FROM
			br_reserva as res
			left join BR_USUARIO as u on u.carnet=res.usuario
			left join BR_RECURSO as r on r.id=res.recurso
			left join BR_CARGO as c on u.id_cargo=c.id
			left join BR_TIPO as t on r.id_tipo=t.id	

		GROUP BY r.id
		order by num_veces DESC
		FETCH FIRST 10 ROWS ONLY
	</select>

	<select id="menosFrecuentesXFecha" resultMap="ReservaResult" >
		SELECT
			r.id as id_recurso,
			r.nombre as nombre_recurso,
			res.fecha,
			count(r.id) as num_veces
		FROM
			br_reserva as res
			left join BR_RECURSO as r on r.id=res.recurso
		group by r.id, res.fecha
		order by num_veces asc
		FETCH FIRST 10 ROWS ONLY
	</select>
	
	<select id="recursosMenosFrecuentesXHorario" resultMap="ReservaResult">
		SELECT
			r.id as id_recurso,
			r.nombre as nombre_recurso,
			res.hora as tiempo,
			count(r.id) as num_veces
		FROM br_reserva as res
			left join BR_USUARIO as u on u.carnet=res.usuario
			left join BR_RECURSO as r on r.id=res.recurso
		group by res.hora, r.id
		order by num_veces asc
		FETCH FIRST 10 ROWS ONLY
	</select>

	<select id = "menosFrecuenteXTipo"  resultMap="ReservaResult">
		select
			r.id as id_recurso,
			r.nombre as nombre_recurso,
			t.tipo as nom_tipo,
			count(t.tipo) as num_veces
		FROM
			br_reserva as res
			left join BR_RECURSO as r on r.id=res.recurso
			left join BR_TIPO as t on r.id_tipo=t.id
		group by t.tipo, r.id
		order by num_veces asc

	</select>

	<select id = "horariosMasXFecha"  resultMap="ReservaResult">
		SELECT
			res.hora as tiempo,
			res.fecha,
			count(res.hora) as num_veces
		FROM
			br_reserva as res
			left join BR_RECURSO as r on r.id=res.recurso
		group by res.fecha, res.hora
		order by num_veces desc
		FETCH FIRST 10 ROWS ONLY
	</select>

	<select id = "horarioMasFrecuente"  resultMap="ReservaResult">
		SELECT
			res.hora as tiempo,
			count(res.hora) as num_veces
		FROM
			br_reserva as res
			left join BR_RECURSO as r on r.id=res.recurso
		group by res.hora
		order by num_veces desc
		FETCH FIRST 10 ROWS ONLY
	</select>

	<select id = "horariosMasXTipo"  resultMap="ReservaResult">
		select
			res.hora as tiempo,
			t.tipo as nom_tipo,
			count(t.tipo) as num_veces
		FROM
			br_reserva as res
			left join BR_RECURSO as r on r.id=res.recurso
			left join BR_TIPO as t on r.id_tipo=t.id
		group by t.tipo, res.hora
		order by num_veces desc
		fetch first 10 rows only
	</select>

	<select id = "horariosMenosXFecha"  resultMap="ReservaResult">
		SELECT
			res.hora as tiempo,
			res.fecha,
			count(res.hora) as num_veces
		FROM
			br_reserva as res
			left join BR_RECURSO as r on r.id=res.recurso
		group by res.fecha, res.hora
		order by num_veces asc
		FETCH FIRST 10 ROWS ONLY
	</select>

	<select id = "horarioMenosFrecuente"  resultMap="ReservaResult">
		SELECT
			res.hora as tiempo,
			count(res.hora) as num_veces
		FROM
			br_reserva as res
			left join BR_RECURSO as r on r.id=res.recurso
		group by res.hora
		order by num_veces asc
		FETCH FIRST 10 ROWS ONLY
	</select>

	<select id = "horariosMenosXTipo"  resultMap="ReservaResult">
		select
			res.hora as tiempo,
			t.tipo as nom_tipo,
			count(t.tipo) as num_veces
		FROM
			br_reserva as res
			left join BR_RECURSO as r on r.id=res.recurso
			left join BR_TIPO as t on r.id_tipo=t.id
		group by t.tipo, res.hora
		order by num_veces asc
		fetch first 10 rows only
	</select>

	<update id="cancelarReserva">
		UPDATE BR_RESERVA
		SET activo = false
		WHERE odigo=#{reserva.codigo} AND fecha > now ()
	</update>
	
	<update id="cancelarReservas">
		UPDATE BR_RESERVA
		SET activo = false
		WHERE grupo=#{reserva.grupo} AND fecha > now ()
	</update>

	<update id="cancelarReservasHastaFecha">
		UPDATE BR_RESERVA
		SET activo = false
		WHERE grupo=#{reserva.grupo} AND fecha > now () AND #{limite} >= fecha
	</update>
	
	<resultMap id="ReservaResult" type="Reserva">
			<id property="codigo" column="res_codigo"/>
			<result property="hora" column="tiempo"/>
			<result property="duracion" column="duracion"/>
			<result property="fecha" column="fecha"/>
			<result property="activa" column="activa"/>
			<result property="grupo" column="grupo"/>
			<result property="registro" column="registro"/>
			<result property="count" column="num_veces"/>
      		<association property="usuario" javaType="Usuario" column="usuario" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.UsuarioMapper.UsuarioResult"/>
			<association property="recurso" javaType="Recurso" column="recurso" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.RecursoMapper.RecursoResult"/>
    </resultMap>

</mapper>