<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.TipoMapper">

	<select parameterType="map" id="consultarTipo" resultMap="TipoResult">
			SELECT 
    		
    		t.id as id_tipo,
			t.tipo as nom_tipo,
			t.descripcion as des_tipo
			
			FROM BR_TIPO as t
    		
    		WHERE t.id=#{id_tipo}
 			
	</select>

	<select parameterType="map" id="consultarTipos" resultMap="TipoResult">
			SELECT 
    		
    		t.id as id_tipo,
			t.tipo as nom_tipo,
			t.descripcion as des_tipo
			
			FROM BR_TIPO as t
 			
	</select>
	
	<insert id ="insertarTipo">
    	insert into BR_TIPO (id,tipo,descripcion) 
    	VALUES (#{tipo.id},#{tipo.tipo})                    
    </insert>
	
	<resultMap id="TipoResult" type="Tipo">
			
			<id property="id" column="id_tipo"/>
			<result property="tipo" column="nom_tipo"/>
			<result property="descripcion" column="des_tipo"/>
   
    </resultMap>

</mapper>