<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.TipoMapper">
	
	<resultMap id="TipoResult" type="Tipo">
			
			<id property="id" column="id_tipo"/>
			<result property="tipo" column="nom_tipo"/>
			<result property="descripcion" column="des_tipo"/>
   
    </resultMap>

</mapper>