<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<properties resource="config.properties">
    </properties>	

    <!--<settings>
        <setting name="logImpl" value="LOG4J"/>        
    </settings>-->
    
    <typeAliases>
    	<typeAlias type='edu.eci.cvds.samples.entities.Usuario' alias='Usuario'/>
    	<typeAlias type='edu.eci.cvds.samples.entities.Cargo' alias='Cargo'/>
		<typeAlias type='edu.eci.cvds.samples.entities.Tipo' alias='Tipo'/>	
    	<typeAlias type='edu.eci.cvds.samples.entities.Recurso' alias='Recurso'/>
		<typeAlias type='edu.eci.cvds.samples.entities.Reserva' alias='Reserva'/>
    	
	</typeAliases>
    

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <!--property name="url" value="jdbc:mysql://localhost:3306/video_rental"/!-->
                <property name="url" value="${url}"/>
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />

                <!--property name="url" value="jdbc:mysql://localhost:3306/video_rental"/!-->
            </dataSource>
        </environment>
    </environments>
    
	
    
    <mappers>
        <mapper resource="mappers/UsuarioMapper.xml"></mapper>
        <mapper resource="mappers/CargoMapper.xml"></mapper>
        <mapper resource="mappers/TipoMapper.xml"></mapper>
        <mapper resource="mappers/RecursoMapper.xml"></mapper>  
		<mapper resource="mappers/ReservaMapper.xml"></mapper>       
    </mappers> 
        
        
</configuration>